/* app.css */
.rotate:hover {
  transform: rotate(360deg);
  transition: transform 0.5s;
}

/* Add more custom CSS styles here */
@keyframes bounceInFromTop {
  0% {
    transform: translateY(-50px) scale(0);
  }
  50% {
    transform: translateY(20px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.nav-link {
  animation: bounceInFromTop 0.5s ease;
}

.nav-link:nth-child(1) {
  animation-delay: 0.3s;
}

.nav-link:nth-child(2) {
  animation-delay: 0.4s;
}

.nav-link:nth-child(3) {
  animation-delay: 0.5s;
}

.nav-link:nth-child(4) {
  animation-delay: 0.6s;
}

.img-grid {
  width: 200px;
  height: 100px;
}

.resume-img {
  width: 100%;
  height: auto;
}

.service-item {
  width: 330px;
  height: 200px;
}

@media (max-width: 670px) {
  .service-item {
    width: 180px;
    height: 270px;
    padding: 0 5px;
  }
}

/* App.css */
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e2028; /*background color for loading screen */
}

input::placeholder {
  position: absolute;
  left: 40px;
  font-weight: 400;
  font-size: 13px;
}
textarea::placeholder {
  position: absolute;
  left: 40px;
  font-weight: 400;
  font-size: 13px;
}

.input-with-icon {
  position: relative;
}

.input-with-icon-inner {
  position: relative;
}

.input-icon {
  color: #da9100;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 1rem;
  top: 35%;
  transform: translateY(-50%);
  z-index: 1;
}

.input-icon-text {
  color: #da9100;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 1rem;
  top: 15%;
  transform: translateY(-50%);
  z-index: 1;
}
.input:focus {
  outline: 2px solid #da9100;
}

span .error-text {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.bounce {
  animation: bounceInFromTop 1s ease;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
